name: CDP Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Cài Java cho Linux (Vì launcher.py sẽ bỏ qua folder bin)
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyspark==3.4.1

    # Chạy Spark qua Launcher (Launcher sẽ bypass setup windows)
    - name: Run ETL Job
      run: python launcher.py